:root {
    --vermelho: rgb(177, 31, 31);
    --preto: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*base*/

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 5px;
    text-align: left;
}

header .Logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: gray;
    margin-right: 12px;
}

header nav a:hover {
    color: white;
}


/* Anime Principal */

.Anime-Principal {
    font-size: 17px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("/img/Oscuridad\ en\ UA.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Anime-Principal .sinopse {
    margin-bottom: 10px;
    width: auto;
    background-size: cover;
}

.titulo {
    font-size: 45px;
    margin-top: 10px;
}

.botoes {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botoes:hover {
    background-color: white;
    color: black;
}

.botoes i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.anime-principal .container {
    width: 70%;
}

.box-animes {
    background-size: cover;
    display: flex;
    cursor: pointer;
}

.carrosel-animes {
    margin-top: 5px;
}